mixin head(data)
	meta(charset="utf-8")

	//- SEO tags
	meta(content=head.author name="author")
	meta(content=head.description name="description")
	meta(content=head.keywords name="keywords")

	//- Social meta-tags
	meta(property="og:title" content=head.title)
	meta(property="og:url" content=head.url)
	meta(property="og:type" content=head.type)
	meta(property="og:description" content=head.description)
	meta(property="og:image" content=head.image.path)
	meta(property="og:image:type" content=head.image.type)
	meta(property="og:image:width" content=head.image.width)
	meta(property="og:image:height" content=head.image.height)

	meta(property="twitter:description" content=head.description)
	link(rel="image_src" href=head.image.path)


	//- Mobile
	meta(content="telephone=no" name="format-detection")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="true")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")

	//- Other
	meta(name="robots" content="noodp, noydir")

	//- Favicons from: realfavicongenerator.net
	link(rel="icon", type="image/png", href="#{config.path.favicons}/favicon.ico" sizes="32x32")
	link(rel="shortcut icon", href="/favicons/favicon.ico")
	link(href="#{config.path.favicons}/favicon-16x16.png", rel="icon", type="image/png", sizes="16x16")
	link(href="#{config.path.favicons}/favicon-32x32.png", rel="icon", type="image/png", sizes="32x32")
	link(href="#{config.path.favicons}/apple-touch-icon.png", rel="apple-touch-icon", sizes="180x180")
	link(href="#{config.path.favicons}/safari-pinned-tab.svg", rel="mask-icon", color="#ffffff")

	meta(name="theme-color", content="#ffffff")
	link(href="#{config.path.favicons}/manifest.json", rel="manifest")
	meta(name="msapplication-config", content="#{config.path.favicons}/browserconfig.xml")




	if data !== "index"
		//- Styles
		link(rel="stylesheet", href="#{config.path.styles}/reset.css")
		link(rel="stylesheet", href="#{config.path.styles}/modules.css")
		link(rel="stylesheet", href="#{config.path.styles}/main.css")

		//- Scripts
		script(src="#{config.path.scripts}/jquery-2.2.4.min.js")
		script(src="#{config.path.scripts}/modernizr.js")


